.register-div, .login-div {
	width: 500px;
	height: 300px;
	background-color: lightblue;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}

input[type=text] {
	width: 90%;
	display: inline-block;
	box-sizing: border-box;
	border-radius: 4px;
	padding: 8px;
	margin-left: 25px;
	margin-bottom: 5px;
}

input[type=password] {
	width: 90%;
	border-radius: 4px;
	padding: 8px;
	margin-left: 25px;
}

input[type=submit] {
	background-color: blue;
	color: white;
	width: 100px;
	padding: 5px;
	margin-top: 10px;
	cursor: pointer;
	border: none;
	margin-left: 200px;
}

input[type=checkbox] {
  transform: scale(1.5);
}

input[type=text]:focus {
	background-color: lightgrey;
}

input[type=password]:focus {
	background-color: lightgrey;
}

.label-data {
	margin-left: 25px;
}

.label-data-checkbox {
	margin-left: 25px;
	margin-top: 3px;
}

.order-checkbox {
	margin-left: 3px;
}