{% extends 'base.twig' %}

{% block title %} Homepage {% endblock %}

{% block content %}
	<h1>Home</h1>
	{% if flashMessage %}
		{% for message in flashMessage %}
			{{ message }}
		{% endfor %}
	{% endif %}
{% endblock %}