{% extends 'template.twig' %}

{% block title %}Login{% endblock %}

{% block content %}
	<div class="login-div">
		<form method="POST" action="{{ path_for('login') }}">
			<div class="label-data">
				<label for="email">Your email:</label>
			</div>
			<input type="text" name="email" autocomplete="off" placeholder="Enter your email...">
			<div>
				{% if emailErrors %}
					{% for error in emailErrors %}
						{{ error|first }}
					{% endfor %}
				{% endif %}
			</div>
			<div class="label-data">
				<label for="password">Your password:</label>
			</div>
			<input type="password" name="password" placeholder="Enter your password...">
			<div>
				{% if passwordErrors %}
					{% for error in passwordErrors %}
						{{ error|first }}
					{% endfor %}
				{% endif %}
			</div>
			<div class="label-data-checkbox">
				<label for="checkbox">Remember me</label>
				<div class="order-checkbox">
					<input type="checkbox" name="save" id="checkbox" value="on">
				</div>
			</div>
			<input type="submit" value="Login">
			{% if message %}
				{{ message }}
			{% endif %}
		</form>
	</div>
{% endblock %} 