{% extends 'template.twig' %}

{% block title %}Register{% endblock %}

{% block content %}
	<div class="register-div">
		<form method="POST" action="{{ path_for('register') }}">
			<div class="label-data">
				<label for="name">Your name:</label>
			</div>
			<input type="text" name="name" autocomplete="off" placeholder="Enter your name..." id="name">
			<div>
				{% if nameErrors %}
					{% for error in nameErrors %}
						{{ error|first }}
					{% endfor %}
				{% endif %}
			</div>
			<div class="label-data">
				<label for="email">Your email:</label>
			</div>
			<input type="text" name="email" autocomplete="off" placeholder="Enter your email..." id="email">
			<div>
				{% if emailErrors %}
					{% for error in emailErrors %}
						{{ error|first }}
					{% endfor %}
				{% endif %}
			</div>
			<div class="label-data">
				<label for="password">Your password:</label>
			</div>
			<input type="password" name="password" placeholder="Enter your password..." id="password">
			<div>
				{% if passwordErrors %}
					{% for error in passwordErrors %}
						{{ error|first }}
					{% endfor %}
				{% endif %}
			</div>
			<input type="submit" value="Register">
		</form>
	</div>
{% endblock %} 